<%= simple_form_for @event, remote: true do |f| %>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
			<label>Titulo</label>
			<%= f.text_field :title, class: "form-control" %>
			<%= f.hidden_field :user_id, class: "form-control", value:current_user.id %>
			</div>
		</div>
		<div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Color</label>
				<%= f.collection_select :color_id, Color.all, :id, :name, {prompt: "Seleccionar"}, class: "form-control select2-multiple" %>
			</div>
        </div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
			<label>Cliente</label>
			<%= f.collection_select :client_id, Client.all, :id, :name, {prompt: "Seleccionar"}, class: "form-control select2-multiple" %>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
			<label>Actividad</label>
			<%= f.collection_select :activity_type_id, ActivityType.all, :id, :name, {prompt: "Seleccionar"}, class: "form-control select2-multiple" %>
			</div>
		</div>		
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
			<label>Rango de fecha</label>
			<%= f.text_field :date_range, class: "form-control input-sm date-range-picker" %>
			<%= f.hidden_field :start, value: Date.today, class: 'form-control input-sm start_hidden' %>
			<%= f.hidden_field :end, value: Date.today, class: 'form-control input-sm end_hidden' %>
			</div>
		</div>
	</div>

<div class="form-actions">
	<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
	<%= f.submit "Guardar", class:"btn btn-success" %>
    <%= link_to 'Delete', event, method: :delete, class: 'btn btn-danger', data: { confirm: 'Estas Seguro?' }, remote: true unless @event.new_record? %>
</div>
<% end %>
